@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 400;
  background: beige;
}

.image {
  border-radius: 25px;
  width: 200px;
  display: block;
  margin: auto;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.article {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
}

.section {
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px 10px;
  margin-bottom: 20px;
  background: rgb(236, 211, 172);
}

.info {
  display: flex;
  padding-bottom: 20px;
}

.info-text {
  margin-left: 20px;
}

@media (max-width: 500px) {
  .info {
    display: block;
  }
}

.table {
  width: 100%;
}

.table,
td {
  max-width: 650px;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
}

.table th {
  padding: 10px;
}

.form {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
}

.form-group label {
  display: block;
  font-size: 14px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 10px 0 10px;
  font-family: inherit;
}

.btn {
  color: black;
  border-radius: 5px;
  background-color: rgb(236, 211, 172);
}

.btn:hover {
  background: pink;
}

a:hover {
  color: orange;
}

.form-title {
  text-align: center;
  size: 16px;
}
